/* Reset default styles */
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Navbar styles */
.navbar {
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

/* Hero section styles */
.hero {
  background-image: url("path/to/your-image.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black;
}

.hero p {
  font-size: 1.2rem;
  color: black;
}

/* About section styles */
.about {
  background-color: #fff;
  padding: 3rem 0;
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Skills section styles */
.skills {
  background-color: #f9f9f9;
  padding: 3rem 0;
}

.skills ul {
  list-style: none;
}

.skills li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.skills span {
  font-weight: bold;
  font-style: normal;
}

/* Projects section styles */
.projects {
  padding: 3rem 0;
}

.project-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.project-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.project-card p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.project-card a {
  text-decoration: none;
  color: #007bff;
}

/* Contact section styles */
.contact {
  background-color: #f9f9f9;
  padding: 3rem 0;
}

.social-links {
  list-style: none;
}

.social-links li {
  margin-right: 1rem;
  display: flex;
}

.social-links li p {
  text-decoration: none;
  color: #333;
  padding-top: 5px;
}

.social-links li a {
  text-decoration: none;
  color: #333;
  padding-top: 5px;
}

.social-links img {
  height: 25px;
  width: 25px;
}
/* Footer styles */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
